@using Microsoft.AspNetCore.Identity
@using SubtitlesLearn.Logic.Entities
@using SubtitlesLearn.Site.Models

@inject UserManager<Customer> UserManager

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Subtitles Learn</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			  asp-fallback-href="~/css/boostrap.min.css" />
	</environment>

	<link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />

	@RenderSection("Css", required: false)
</head>
<body>
	<environment include="Development">
		<script src="~/js/jquery-3.3.1.js"></script>
		<script src="~/js/bootstrap.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
				asp-fallback-src="~/js/jquery-3.3.1.min.js"
				crossorigin="anonymous">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/bootstrap.min.js"
				asp-fallback-src="~/js/bootstrap.min.js"
				crossorigin="anonymous">
		</script>
	</environment>
	<script src="~/js/Contact.js" asp-append-version="true"></script>

	@if ((await UserManager.GetUserAsync(User)) != null)
	{
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
			<a class="navbar-brand" href="/">
				<img id="imgSmallLogo">
			</a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarCollapse" style="">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item @(ViewBag.CurrentPageType == PageType.WorkPlace ? "active" : "")">
						<a class="nav-link" href="/WorkPlace">Main <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item @(ViewBag.CurrentPageType == PageType.Settings ? "active" : "")">
						<a class="nav-link" href="/Settings">Settings</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#" onclick="showContactDialog();">Contact us</a>
					</li>
				</ul>
				<div class="nav-item">
					<a id="lnkLogout" class="nav-link active" asp-controller="Account" asp-action="Logout">Log Out</a>
				</div>
			</div>
		</nav>
	}

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2019 - SubtitlesLearn</p>
		</footer>
	</div>

	@* Contact popup *@
	@{ await Html.RenderPartialAsync("../Home/Contact"); }

	@{ await Html.RenderPartialAsync("_CookieConsentPartial"); }	

	@RenderSection("Scripts", required: false)

</body>
</html>
